body{
    font-family: 'Arsenal', sans-serif;
}
.show {
    border: solid 1px #aaa; 
    height: inherit; 
}


.pad {
    margin-top:1.1%
 }


.logo-settings {
    width: 60%;
    margin: 10px 0px;
}

.nav-link {
    margin: 29px 24px;    
}

.nav-link a {
    padding: 0px 8px;;
   color: black;
   border-right: 1px solid black;
}

.nav-link a:last-child {
    border-right: none;
    
}

.tab-content{
    padding-left: 5%
}

.nav-tabs{
    padding-left: 10%;
    padding-right:10%;
}

.top-nav{
    padding-left: 2%;
    padding-right:2%;
}

quote{
    font-size: 18px;
    font-weight: bolder
}

.red{
    color:red
}

.footer{
    height:80%;
    background-color: #eee;
    padding: 50px 30px;
    text-align: center;
}

.footer-list{
    list-style-type: none;
    text-decoration: none;
    padding: 0px;
}

.borda-top{
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
.left-panel{
    border: none;
    box-shadow: none;    
}



.panel .list-group-item{
    border-left: none;
    border-right:none;
    background-color:none;  
    padding:2.5%;  
    text-align: left;
   
}

.footer-panel{
    border:none;
    background-color:#eee;  
    padding:0.5%;  
    text-align: left;
    box-shadow: none;
    
}
 .footer-panel .list-group .list-group-item{
     background-color: #eee;
     border:none;
     padding:0.5%;
 }
  
.b-red{border-color:#f44336}
.bg-red{background-color: #f44336}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #000;
    cursor: default;
    background-color: #fff;
    border: 1px solid transparent;
    border-bottom: 3px dashed #f44336;
    padding-left: 80px;
    padding-right: 80px;
    
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:active, .nav-tabs>li>a{
    padding-left: 80px;
    padding-right: 80px;
    color:#000;
    text-decoration: none;
}
.grey{
    background-color: #aaa;
    color:#fff
}
.green{
    background-color: #7d3;
    color:#fff
}
cl-white{
    color:#fff
}
.bold{
    font-weight: bolder
}
.panel ul li a{
    color: #000;
}

.b-col{    color: #fff;
}

.centad .row div p{
    text-align: center;
}

.drop-down{
    padding-top: 9px;
}

.border-top{
    border-top: 1px solid #aaa;
}

.full{padding:9px}

                      category sub-menu gvgh{
    display: none;
    position: absolute;
    z-index: 1;
    left: 190px;
    top: -1px;
    border: 1px solid #999;
    background: #fff;
    -webkit-box-shadow: 3px 3px 5px rgba(60,60,60,0.3);
    -moz-box-shadow: 3px 3px 5px rgba(60,60,60,0.3);
    box-shadow: 3px 3px 5px rgba(60,60,60,0.3);
}
.flexy{border:solid 2px red}

div ul{
    text-decoration: none;
    list-style-type: none;
}
.john{
    border: solid 2px red;
    display: block;
    list-style-type: none;
        display:inline-block;
}

.category .catlog{
    padding-left:1px;
}

.category .catlog .item-link{
    border-bottom:1px solid #e5e5e5;
    padding:6px 0 7px 1px;
    color:#222;
    display:block;
    text-decoration:none
}
    
.category .catlog .hover{
        position:relative;
        z-index:80
}

.category .catlog .hover .item-link{
    border:1px solid #999;
    border-right:0;
    color:#ff850a;
    position:relative;
    z-index:2;
    width:180px;top:-1px;background:#fff;padding:6px 1px 6px 9px
}

.category .sub-menu{
    display:none;
    position:absolute;
    z-index:1;
    left:179px;
    top:-1px;
    border:1px solid #999;
    background:#fff;
}

.category .hover .sub-menu{
    display:block;
    background-position:400px 0
    ;background-repeat:repeat-y
}
.category .sub-list{
    width:180px;
    float:left;
    padding:10px
}


.category .sub-list .see-more a{color:#ff850a}
.category .sub-list .see-more .icon{visibility:visible;float:none;margin:0;vertical-align:middle}
.category .sub-list .quick-title{color:#999;margin-top:5px}.category .list-area{float:left;background:#fff}
.category .col-double{width:400px}.category .col-triple{width:600px}
.category .special{width:199px;float:right;position:relative;padding-top:35px}
.category .special .title{position:absolute;width:121px;height:24px;left:-6px;top:5px;padding-left:12px;line-height:20px;color:#fff;font-weight:bold;background-position:-210px -60px}